week-1-homework/yellow_tripdata_2021-01.csv
week-1-homework/taxi+_zone_zone_lookup.csv
week-1-homework/1_terraform_gcp/terraform/.terraform
week-1-homework/1_terraform_gcp/terraform/**
**.DS_Store
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/